.container-width{
	    padding: 0 10%;
}

.primary{
	color: $primary;
}

.secondary{
	color: $secondary;
}

.light{
	color: $light;
}

.heading{
	text-align: center;
    padding: 80px 0px 80px;
    font-size: 35px;
    font-weight: normal;
    background: url(../images/aboutbg.png) no-repeat;
    background-position: 358px 65px;
    background-size: 183px 78px;
}

.heading-our{
        text-align: center;
        padding: 80px 0px 80px;
        font-size: 35px;
        font-weight: normal;
        background: url(../images/aboutbg.png) no-repeat;
        background-position: 350px 59px;
        background-size: 201px 80px;
    }


